<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Forum</a>
  <div class="pull-right" *ngIf="getLogged()">
    <i class="fa fa-user"></i> {{getLogged()?.name}}
    <button class="btn btn-sm" (click)="setLogged(null)"><i class="fa fa-sign-out"></i></button>
  </div>
</nav>

<div class="container-fluid">
  <f-user-selection (userSelected)="setLogged($event)" *ngIf="!getLogged()"></f-user-selection>

  <f-topics-view [loggedIn]="getLogged()" *ngIf="getLogged()"></f-topics-view>
</div>

