<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-forumbee fa-2x"></i></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="'active'" *ngIf="!getLogged()">
        <a class="nav-link" [routerLink]="['/users']"><i class="fa fa-users"></i> Users</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['/topics']"><i class="fa fa-list"></i> Topics</a>
      </li>
    </ul>
  </div>
  <div class="pull-right" *ngIf="getLogged()">
    <i class="fa fa-user"></i> {{getLogged()?.name}}
    <button class="btn btn-sm" (click)="setLogged(null)"><i class="fa fa-sign-out"></i></button>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
