<div class="row">
  <div>
    <table class="table table-hover table-bordered table-sm">
      <caption>List of topics</caption>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Author</th>
        <th scope="col">Comments</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let topic of topics">
        <td>{{topic.id}}</td>
        <td>
          {{topic.title}}
        </td>
        <td>{{topic.content}}</td>
        <td>{{topic.user.name}}</td>
        <td>
          <ul>
            <li *ngFor="let comment of topic.comments">
              <i class="fa fa-user"></i> <b>{{comment.user?.name || 'Anonymous'}}</b> - {{comment.content}}
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
