<div class="row" *ngFor="let topic of topics">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{topic.title}}</h5>
        <p class="card-text">{{topic.content}}</p>
        <div class="card">
          <div class="card-header">
            <i class="fa fa-comment"></i> Comments
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let comment of topic.comments">
              <i class="fa fa-user"></i>
              <span [ngClass]="{'font-italic text-info' : comment.user?.id===getLogged()?.id}">{{comment.user?.name || 'Anonymous'}}</span>
              : {{comment.content}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
